.container
  p
    | MSGQue v0.0.1
    = ' | '
    a(href='https://github.com/MSGQue/msgque/wiki/Docs') Documentation
    = ' | '
    a(href='https://gitter.im/msgque/msgque') Chat on Gitter
    = ' | '
    a(href='https://github.com/msgque/msgque/issues?state=open') Issues
    = ' | '
    a(href='hhttps://blog.msgque.com/') Blog
